* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

.timeline {
	margin: 0 auto;
}

.milestone {
	display: block;
	position: relative;
	font-size: 0;
	display: block;
	background-color: white;
	height: 450px;
}

.milestone > * {
	font-size: medium;
	font-size: 1rem;
}

/*.milestone::after {
	content: "";
	display: table;
	width: 100%;
}*/


.ribbon {
	width: 12px;
	background-color: #AFDCF8;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/*border: 5px white solid;*/
	border-top: none;
	border-bottom: none;
	z-index: 9;
}

.badge {
	position: absolute;
	height: 75px;
	width:	75px;
	border-radius: 50%;
	background-color: #46A4DA;
	border: 5px #AFDCF8 solid;
	left: 50%;
	transform: translateX(-50%);
	top: 22%;
	/*transform: translateY(-20%);*/
	z-index: 12;

}

.when {
	display: block;
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	/*background-color: aquamarine;*/
	text-align: center;
	top: 38%;
	z-index: 11;
}

.when p {
	/*display: inline-block;*/
	margin: auto auto -0.5em;
	text-align: center;
	color: #dcdcdc;
}

.when h2 {
	color: #f7f7f7;
}

.what {
	background-color: #6CBFEE;
	max-width: 575px;
	height: 100%;
	position: absolute;
	margin-top: 125px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	/*border: 3px solid #eeeeee;*/
	z-index: 10;
}

.what .content {
	margin: 60px 40px;
	display: inline-block;
}

.what .content p {
	display: inline-block;
}

.left-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid #6CBFEE;
	border-bottom: 15px solid transparent;
	top: 10%;
	left: -4%;
	/*box-shadow: 0 0 0 3px #eeeeee;*/
}



@media all and (min-width: 900px) {

	.ribbon {
		width: 12px;
		border: none;
		display: inline-block;
		position: absolute;
		left: 24%;
		background-color: #AFDCF8;
		/*width: 32%;*/
		height: 100%;
	}

	.badge {
		top: 31%;
		left: 24%;
	}

	.when {
		display: inline-block;
		position: absolute;
		/*background-color: aquamarine;*/
		left: 15%;
		top: 38%;
		/*width: 32%;*/
		/*height: 100%;*/
		/*float: left;*/
	}

	.when p {
		text-align: right;
	}

	.when h2 {
		color: #6CBFEE
	}

	.what {
		display: inline-block;
		position: absolute;
		background-color: #6CBFEE;
		/*width: 32%;*/
		height: 250px;
	}
}